<div class="grid wide">
    <div class="grow">
        <div class="gcol pc8 pcl8 hide-on-tablet-mobile">
            <div class="slider-active">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class=""
                            aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2" class="active" aria-current="true"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item">
                            <img src="/image/5364611e2dc096b71e0287c13eeb2528_xxhdpi.png" class="d-block w-100"
                                alt="...">
                        </div>
                        <div class="carousel-item active">
                            <img src="/image/df489be8eda0aa7d3199e6f1a9573401_xxhdpi.jpg" class="d-block w-100"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/image/0d988b00e2c3bbee85ca13b910492196_xxhdpi.jpg" class="d-block w-100"
                                alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="gcol pc4 pcl4 hide-on-tablet-mobile">
            <div class="slider-silent">
                <img src="/image/0d988b00e2c3bbee85ca13b910492196_xxhdpi.jpg" alt="" class="slider-silent-img">
                <img src="/image/15c3a0e55ecfb29b6ec17505ecb897e9_xxhdpi.jpg" alt="" class="slider-silent-img">
            </div>
        </div>
    </div>
</div>
<!-- category -->
<div class="main__content">
    <div class="grid wide">
        <div class="grow sm-gutter">
            <div class="gcol pc2 pcl2 t0 m0">
                <div class="main__content-catergory">
                    <div class="main__content-category__tiltle">
                        <i class="fas fa-bars main__content-category__icon"></i>
                        <h4 class="main__content-category__text">Danh mục</h4>
                    </div>
                    <div class="main__content-category__item  ">
                        <i class="fas fa-caret-right main__content-category__item-icon"></i>
                        <p class="main__content-category__name">Sản phẩm</p>
                    </div>
                    <div class="main__content-category__item main__content-category__tiltle--active">
                        <i class="fas fa-caret-right main__content-category__item-icon"></i>
                        <p class="main__content-category__name">Sản phẩm hot</p>
                    </div>
                    <div class="main__content-category__item">
                        <i class="fas fa-caret-right main__content-category__item-icon"></i>
                        <p class="main__content-category__name">Sản phẩm bán chạy</p>
                    </div>

                </div>
            </div>
            <!-- navi-mobile  -->
            <ul class="navi-mobile-container hide-on-pc hide-on-tablet">
                <li class="navi-mobile-item">
                    <a href="" class="navi-mobile-link">Danh sách các thiết bị nhà vệ sinh cao cấp Danh sách các
                        thiết bị nhà vệ sinh cao cấp Danh sách các thiết bị nhà vệ sinh cao cấp Danh sách các
                        thiết bị nhà vệ sinh cao cấp</a>
                </li>
                <li class="navi-mobile-item">
                    <a href="" class="navi-mobile-link">Danh sách các thiết bị nhà vệ sinh cao cấp</a>
                </li>
                <li class="navi-mobile-item">
                    <a href="" class="navi-mobile-link">Danh sách các thiết bị nhà vệ sinh cao cấp</a>
                </li>
                <li class="navi-mobile-item">
                    <a href="" class="navi-mobile-link">Danh sách các thiết bị nhà vệ sinh cao cấp</a>
                </li>
                <li class="navi-mobile-item">
                    <a href="" class="navi-mobile-link">Danh sách các thiết bị nhà vệ sinh cao cấp</a>
                </li>
                <li class="navi-mobile-item">
                    <a href="" class="navi-mobile-link">Danh sách các thiết bị nhà vệ sinh cao cấp</a>
                </li>
                <li class="navi-mobile-item">
                    <a href="" class="navi-mobile-link">Danh sách các thiết bị nhà vệ sinh cao cấp</a>
                </li>
                <li class="navi-mobile-item">
                    <a href="" class="navi-mobile-link">Danh sách các thiết bị nhà vệ sinh cao cấp</a>
                </li>
            </ul>
            <!-- main  -->
            <div class="gcol pc10 pcl10 t12 m12">
                <div class="main__content-filter hide-on-tablet-mobile">
                    <span class="main__content-filter__text">Sắp xếp theo</span>
                    <button id="" class="bton__js bton bton--primary main__content-filter__button">Phổ
                        Biến</button>
                    <button id=""
                        class="bton__js bton bton--normal main__content-filter__button main__content-filter__button--white">Mới
                        Nhất</button>
                    <button id=""
                        class="bton__js bton bton--normal main__content-filter__button main__content-filter__button--white">Bán
                        Chạy</button>
                    <button id=""
                        class="bton__js bton bton--normal main__content-filter__button main__content-filter__button--white">Giá
                        <i class="fas fa-chevron-down"></i>
                    </button>
                    <div class="main__content-filter__pageList">
                        <p class="main__content-filter__pageList-number"><span>1</span>/2</p>
                        <div class="main__content-filter__icon">
                            <i
                                class="fas fa-chevron-left main__content-filter__icon--active main__content-filter__icon--none-active"></i>
                            <i class="fas fa-chevron-right main__content-filter__icon--active"></i>
                        </div>
                        <a href="/product/create" class="text-success fs-3"
                            style="display: flex;align-items: center;">Thêm
                            Sản Phẩm</a>
                    </div>
                </div>
                <div class="grow sm-gutter">
                    {{#each products}}
                    <div class="gcol pc2-5 pcl2-5 t4 m6">
                        <a href="/product/detailProcduct/{{this._id}}">
                            <div class="main__content-procduct" style="    min-height: 305px;">
                                <img src="/uploads/{{this.image}}" class="main__content-procduct-img"
                                    style="height: 200px;object-fit: contain;">
                                <h3 class="main__content-procduct-tiltle">{{this.title}}</h3>
                                <div class="main__content-procduct-price">
                                    <span class="main__content-procduct-oldPrice">{{this.oldPrice}}</span>
                                    <span class="main__content-procduct-newPrice">{{this.newPrice}}</span>

                                </div>
                                <div class="main__content-procduct-icon">
                                    {{#if this.isLiked}}
                                    <i class="fas fa-heart main__content-procduct-icon-heart-active d-block"></i>
                                    {{else}}
                                    <i class="far fa-heart main__content-procduct-icon-heart-non-active"></i>
                                    {{/if}}
                                    <div class="main__content-procduct-icon-star" data_star="{{this.star}}">

                                    </div>
                                </div>

                                <div class="main__content-procduct-origin">
                                    <span class="main__content-procduct-brand">{{this.brand}}</span>
                                    <span class="main__content-procduct-country">{{this.origin}}</span>
                                </div>
                                <span class="main__content-procduct-favorite">
                                    <i class="fas fa-check"></i>
                                    Yêu thích</span>
                                <div class="main__content-procduct-sale">
                                    <p>{{this.sale}}</p>Giảm
                                </div>
                            </div>
                        </a>
                    </div>
                    {{/each}}


                    <!-- pageNumber  -->
                    <div class="gcol pc12 t12 m12">
                        <div class="main-content__page-number">
                            <p id="countPage" style="display: none;" data-count="{{count}}"></p>
                            {{!-- <i class="fas fa-chevron-left"></i>
                            <a href="?index=1" class="link-page d-inline-block">1</a>
                            <a href="?index=2" class="link-page d-inline-block">2</a>
                            <a href="?index=3" class="link-page d-inline-block">3</a>
                            <a href="?index=4" class="link-page d-inline-block">4</a>
                            <i class="fas fa-chevron-right"></i> --}}
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>

<script>
    let oldPrice = document.querySelectorAll('.main__content-procduct-oldPrice')
    let newPrice = document.querySelectorAll('.main__content-procduct-newPrice')
    let starBlock = document.querySelectorAll('.main__content-procduct-icon-star')
    for (let old of oldPrice) {
        let value = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(old.innerText)
        old.innerText = value;
    }
    for (let newP of newPrice) {
        let value = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(newP.innerText);
        newP.innerText = value;
    }
    for (let star of starBlock) {
        let value = Number(star.getAttribute("data_star"));
        let html1 = ``;
        let html2 = ``;
        for (let i = 0; i < value; i++) {
            html1 += `<i class="fas fa-star main__content-procduct-icon-star-active"></i>`
        }
        for (let i = 0; i < (5 - value); i++) {
            html2 += `<i class="far fa-star main__content-procduct-icon-star-non-active" style="display: inline-block;"></i>`
        }
        star.innerHTML = html1 + html2;
    }
    //render pagelist
    let page = document.querySelector(".main-content__page-number")
    let pageCount = page.querySelector("#countPage").getAttribute("data-count")
    console.log(pageCount)
    let html3 = '';
    for (let i = 0; i < pageCount; i++) {
        html3 += `<a href="?index=${i + 1}" class="link-page d-inline-block">${i + 1}</a>`
    }
    page.innerHTML = html3;

</script>